priest
GChartWrapper==0.8
decorator==3.4.0
futures==2.2.0
iso8601==0.1.10
netaddr==0.7.13
paramiko==1.15.2
petname==1.7
prettytable==0.7.2
pyOpenSSL==0.14
python-cinderclient
python-glanceclient
python-keystoneclient
python-novaclient
requests==2.2.1
simplejson==3.6.5
