decorator
futures
GChartWrapper==0.8
iso8601==0.1.10
netaddr
oktest
paramiko==1.15.2
petname
prest
prettytable==0.7.2
pyOpenSSL==0.14
python-cinderclient
python-glanceclient
python-keystoneclient
python-novaclient
PyYAML
requests
simplejson
texttable
