decorator
ecdsa
futures
ipython
iso8601
matplotlib
netaddr
numpy
oktest
paramiko
petname
prest
prettytable
psutil
psutil
pycrypto
pytest
python-cinderclient
python-glanceclient
python-keystoneclient
python-novaclient
PyYAML
requests
scipy
seaborn
simplejson
statsmodels
texttable