{% extends "base.html" %}
<html>
<head>
    {% block head %}
    {{ super() }}
    <title>Test report</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        <h2 align="center">Tests report : </h2>
        <table align="center" class="table table-striped" style="width: 70%; ">
            <th>Build type</th>
            <th>Build name</th>
            <th> Date </th>
            {% for test in tests %}
            <tr>
                <td>
                      <a href="{{ test.url }} ">{{ test.name }}</a>
                </td>
                <td>
                      {{ test.name }}
                </td>
                <td>
                      {{ test.date }}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endblock %}
</body>
</html>