{% extends "base.html" %}
<html>
<head>
    {% block head %}
    {{ super() }}
    <title>Test report</title>
    {% endblock %}
</head>
<body>
    <h1>Tests</h1>
    {% block body %}
    <div>
        <table>
            <th>Build name</th>
            <th> Date </th>
            {% for test in tests %}
            <tr>
                <td>
                           <h2>
                               <a href="{{ test.url }} ">{{ test.name }}</a>
                            </h2>
                </td>
                <td>
                    <h3>
                        {{ test.date }}
                    </h3>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endblock %}
</body>
</html>