{% extends "base.html" %}
<html>
<head>
    {% block head %}
    {{ super() }}
    <title>Test report</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <div>
        <h1 align="center">Tests report : </h1>
        <table align="center" class="table table-striped">
            <th>Build name</th>
            <th> Date </th>
            {% for test in tests %}
            <tr>
                <td>
                      <a href="{{ test.url }} ">{{ test.name }}</a>
                </td>
                <td>
                      {{ test.date }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endblock %}
</body>
</html>