<div>
    <table align="center">
        <tr>
            <td>Openstack Release :</td>
            <td>Juno on Ubuntu 12.04.4</td>
        </tr>
        <tr>
            <td>Release Fuel:</td>
            <td>6.1</td>
        </tr>
        <tr>
            <td>Operation system</td>
            <td>Ubuntu</td>
        </tr>
        <tr>
            <td>Ceph version</td>
            <td> 0.80.7</td>
        </tr>
        <tr>
            <td>Nodes count</td>
            <td>{{ lab_meta.nodes_count }}</td>
        </tr>
        <tr>
            <td>Cores count</td>
            <td>{{ lab_meta.processor_count }}</td>
        </tr>
        <tr>
            <td>Total memory</td>
            <td>{{ lab_meta.total_memory }} Gb</td>
        </tr>
        <tr>
            <td>Total disk</td>
            <td>{{ lab_meta.total_disk }} Gb</td>
        </tr>
    </table>
</div>