<div>
    <table>
        <th>
            Parameter name :
        </th>
        <th>
            Value :
        </th>
        <tr>
            <td>Proccessor </td>
            <td>Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz</td>
        </tr>
        <tr>
            <td>Proccessor count</td>
            <td>12</td>
        </tr>
        <tr>
            <td>RAM </td>
            <td> 2 x 16 GB, Total 32GB</td>
        </tr>
        <tr>
            <td>Disk Size</td>
            <td> 2 x 16 GB, Total 32GB</td>
        </tr>
        <tr>
            <td>Disk model</td>
            <td>ST2000NM0033-9ZM</td>
        </tr>
    </table>
</div>