<div>
    <table align="center">
        <tr>
            <td>Openstack Release :</td>
            <td>Juno on Ubuntu 12.04.4</td>
        </tr>
        <tr>
            <td>Relese Fuel:</td>
            <td>6.1</td>
        </tr>
        <tr>
            <td>Operation system</td>
            <td>Ubuntu</td>
        </tr>
        <tr>
            <td>Ceph version</td>
            <td> 1.0</td>
        </tr>
        <tr>
            <td>Nodes count</td>
            <td>{{ lab_meta.nodes_count }}</td>
        </tr>
        <tr>
            <td>Processors count</td>
            <td>{{ lab_meta.processor_count }}</td>
        </tr>
        <tr>
            <td>Total memory</td>
            <td>{{ lab_meta.total_memory }}</td>
        </tr>
        <tr>
            <td>Total disk</td>
            <td>{{ lab_meta.total_disk }}</td>
        </tr>
    </table>
</div>