[global]
include defaults.cfg

NUMJOBS_R={% 1, 5, 10, 15, 25, 40, 80, 120 %}
NUMJOBS_W={% 1, 5, 10, 15, 25, 40 %}
NUMJOBS_SEQ_OPS={% 1, 3, 10 %}

ramp_time=60
runtime=180

# ---------------------------------------------------------------------
# check different thread count, sync mode. (latency, iops) = func(th_count)
# ---------------------------------------------------------------------
[ceph_{TEST_SUMM}]
blocksize=4k
rw=randwrite
sync=1
numjobs={NUMJOBS_W}

# ---------------------------------------------------------------------
# check different thread count, direct read mode. (latency, iops) = func(th_count)
# also check iops for randread
# ---------------------------------------------------------------------
[ceph_{TEST_SUMM}]
blocksize=4k
rw=randread
direct=1
numjobs={NUMJOBS_R}

# ---------------------------------------------------------------------
# direct write
# ---------------------------------------------------------------------
[ceph_{TEST_SUMM}]
blocksize=4k
rw=randwrite
direct=1
numjobs=1

# ---------------------------------------------------------------------
# this is essentially sequential write/read operations
# we can't use sequential with numjobs > 1 due to caching and block merging
# ---------------------------------------------------------------------
[ceph_{TEST_SUMM}]
blocksize=16m
rw={% randread, randwrite %}
direct=1
numjobs={NUMJOBS_SEQ_OPS}

