[defaults]
NUM_ROUNDS=7
ramp_time=5
buffered=0
wait_for_previous
filename={FILENAME}
iodepth=1
size=10Gb
time_based
runtime=30
group_reporting
numjobs={% 1, 2, 5, 10, 15, 20, 25, 30, 35, 40 %}

# ---------------------------------------------------------------------
# check different thread count. (latency, bw) = func(th_count)
#
#    RANDOM R IOPS, DIRECT, should act same as AS (4k + randread + sync)
#    just faster. Not sure, that we need it
# 4k + randread  + direct
#
#     RANDOM R/W IOPS
# 4k + randread  + sync
# 4k + randwrite + sync
#
#     LINEAR BW
# 1m + write     + direct
# 1m + read      + direct
#
# ---------------------------------------------------------------------
[concurrence_test_{TEST_SUMM} * {NUM_ROUNDS}]
blocksize=4k
rw={% randread %}
direct=1
sync=0

[concurrence_test_{TEST_SUMM} * {NUM_ROUNDS}]
blocksize=4k
rw=randwrite
direct=0
sync=1

[concurrence_test_{TEST_SUMM} * {NUM_ROUNDS}]
blocksize=1m
rw={% write, read %}
direct=1
sync=0
